---
layout: default
---
<style>
    .background-animate {
        background-size: 350%;

        -webkit-animation: gradient 20s ease infinite;
        -moz-animation: gradient 20s ease infinite;
        animation: gradient 20s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
<section
        class="mx-auto text-center h-screen text-white my-auto bg-gradient-to-br from-primary-color to-blue-800 background-animate"
        id="frontpage">

    <div class="">
        {% if site.show-nav-menu %}
        {% include nav.html%}
        {% endif %}
    </div>

    <div class="w-1/2 h-fit mx-auto my-auto text-left absolute inset-0 ">
        <h3 class="text-xl mb-5 ml-10 font-light tracking-widest">Hi! I my name is</h3>
        <h1 class="text-7xl text-poppins text-left font-black leading-tight">Gustav <br> Søndergaard Nybro</h1>
        <h2 class="text-gray-400 pt-4 text-lg w-1/2">Im a technical student, who blalalalbla and really love the
            computer wuters yesy yes yeys that is reall ycool i guesss sdlfk sllskdfj lslkdjflshjdfkjlkdkkd sddfs
            skdkkdg dhdhfksjd kjk</h2>
    </div>

    <a href="#about" id="read-arrow"
       class="mx-auto items-center justify-center w-fit animate-bounce absolute inset-x-0 bottom-4 ease-in-out transition transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-arrow-down"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg>
    </a>


</section>
<section id="about" class="text-white justify-center items-center pt-16 pb-20">

    <h1 class="text-center text-4xl font-black tracking-widest mb-16">
        <span>&#x2E3B;&nbsp; About me &nbsp;&#x2E3B;</span></h1>

    <div class="grid grid-cols-2 w-3/5 mx-auto">

        <div class="text-gray-400 font-extralight">
            <h2 class="font-bold text-2xl text-gray-100 mb-2">Gustav Søndergaard Nybro</h2>
            <h3 class="font-semibold text-sm text-gray-300 mb-5 pl-3">Student Engineer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat sapien in imperdiet luctus. Nunc
                vitae dapibus quam. Duis pellentesque diam in lectus maximus, quis ullamcorper diam euismod.
            </p>
            <br>
            <p>
                Fusce sit amet mauris suscipit, blandit velit ut, pretium mi. Nullam porttitor rhoncus dignissim.
                Suspendisse magna massa, finibus non commodo sed, tristique eu diam. Phasellus lobortis libero et tortor
                sollicitudin, sit amet mattis massa commodo. Donec vel ligula risus. Suspendisse potenti. Aenean et
                tellus non enim tempus efficitur.
            </p>
            <br>
            <p>
                Nulla felis lacus, tincidunt vel fermentum nec, pharetra eu elit.
            </p>


        </div>
        <div class="">
            <img class="object-cover mx-auto h-96 w-96" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
                 alt="author profile image">

        </div>
    </div>


</section>

<section id="projects" class="text-white py-16 bg-second">

    <h1 class="text-center text-4xl font-black tracking-widest mb-16">
        <span>&#x2E3B;&nbsp; Projects &nbsp;&#x2E3B;</span></h1>

    <div class="h-[30rem] w-1/2 mx-auto border border-blue-500 mb-12">
        hej hej
    </div>
    <div class="grid grid-cols-3 mx-auto w-3/5 place-items-center">
        <div class="border border-blue-500 w-60 h-40"></div>
        <div class="border border-blue-500 w-60 h-40"></div>
        <div class="border border-blue-500 w-60 h-40"></div>
    </div>
    <h3 class="mx-auto w-fit text-center mt-12 leading-relaxed">Interested in more? <br> Checkout my <a
            class="text-cyan-400 hover:text-cyan-100 transition ease-in-out" href="https://github.com/Gustav2/"
            target="_blank">GitHub</a> or read some of my
        <a class="text-cyan-400 hover:text-cyan-100 transition ease-in-out" href="{{site.baseurl}}/blog/">blog posts</a>
    </h3>

</section>

<section id="contact" class="text-white py-16">

    <h1 class="text-center text-4xl font-black tracking-widest mb-16">
        <span>&#x2E3B;&nbsp; Contact &nbsp;&#x2E3B;</span></h1>

    <div>

        {% include social-media.html %}

    </div>
</section>


</div>
<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#read-arrow').css({'display': 'none'});
        } else {
            $('#read-arrow').css({'display': 'block'});
        }
    });
</script>

{% include footer.html %}