---
layout: default
---
{% if site.show-nav-menu %}
{% include nav.html%}
{% endif %}

<div class=" w-full lg:w-2/3 mx-auto mt-12 bg-gray-800 p-8 h-fit mb-12 shadow rounded-lg prose lg:prose-xl prose-invert max-w-none">
    <h1 class="text-center mt-6 mb-6">{{ page.title }}</h1>
    <div class="text-center prose">
        {% if page.tags.size !=0 %}
        <i class="text-xs fas fa-tags"></i>
        {% for tag in page.tags %}
        <div class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
            <a class="!no-underline" href="{{site.baseurl}}/tag#{{ tag }}">{{ tag }}</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {{content}}
</div>

{% include footer.html %}